{% extends 'facture/index.html'%}
{% load static %}
{% block content %}
<div class="card">
  <div class="card-body">
     <h1 class="card-title"> {{ devis.client }}</h1>
     <p>C'est une facture? - {{ devis.facture }}</p>
     <ul>
         {% for ligne in ligne %}
         {% if ligne.facture == devis %}

         <li>
             <p> {{ ligne.quantity }} - {{ ligne.produit }}</p>
         </li>
         <li>
             <p>Prix:</p>
             <p class="totaux">{{ligne.sous_totaux}}€</p>
         </li>
         {% endif %}
         {% endfor %}
         Total :
         <li class="sum">
         </li>
     </ul>
  </div>
</div>


{% endblock %}
