{% extends 'facture/index.html'%}
{% load static %}
{% block content %}
<div class="formcss">
<label>Rechercher par Nom</label>
<form class="form-inline" action="{% url 'devislist' %}" method="get">
    <div class="place">
        <input class="form-control" type="search" placeholder="Recherche" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>

    </div>
</form>

<label>Rechercher par l'état de la facture</label>
<form class="form-inline" action="{% url 'devislist' %}" method="get">
    <div class="place">
    <select class="tags" name="t">
        <option>-----</option>
        <option value="WAITING">En attente</option>
        <option value="REVIVE">Relancer</option>
        <option value="PAID">Payer</option>
    </select>
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
</div>
</form>
</div>
{% for devis in  object_list %}
<div class="card">
  <div class="card-body">
     <h5 class="card-title"><a href="{% url 'devis' devis.id %}">nom du client  : {{ devis.client }} </a></h5>
     <p class="card-text"> id du devis : {{ devis.id }}</p>
     <p class="card-text">Es-ce une facture ? {{devis.facture}}</p>
     <p class="card-text">Etat de la facture : {{devis.etat}}</p>
     {# <a href="{% url 'produitupdate' produit.id %}" class="btn btn-primary">Button</a> #}
  </div>
</div>
{% endfor %}
{% endblock %}
