{% extends 'facture/index.html'%}
{% load static %}
{% block content %}
<form class="form-inline my-2 my-lg-0" action="{% url 'devislist' %}" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
</form>
<div class="card">
  <div class="card-body">
     {% for devis in  object_list %}
     <h5 class="card-title">{{ devis.client }} - {{devis.facture}}</h5>
     <p class="card-text"></p>
     <p class="card-text"></p>
     {# <a href="{% url 'produitupdate' produit.id %}" class="btn btn-primary">Button</a> #}
     {# <a href="{% url 'produitdelete' produit.id %}" class="btn btn-primary">Delete</a> #}
    {% endfor %}
  </div>
</div>
{% endblock %}
