.card {
    border: none;
    text-align: center;
    background-color: rgb(200, 200, 200);
    padding: 2rem;
    margin: 2rem;

    .card-body {
        display: grid;
        grid-template-columns: 1fr;
        color: black;
        width: 100%;
        margin-top: 1rem;

        .btn-primary {
            margin: 1rem;
        }

        h1 {
            color: rgb(20, 157, 153);
            font-size: 2rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
